* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #EEF1FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    background-color: #6C63FF;
    margin: 0;
    padding: 0;
} 

header h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-left: 64px;
  padding: 20px;
}